<html>
    <head>
        <title>[{{total.score}}%] Mutation Testing by Jean-Fran&ccedil;ois L&eacute;pine</title>
        <style>

                body { 
                    color: #333333;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    text-align:center;
                }
                a, a:visited { text-decoration:none; color:#0088CC; }
                a:hover { text-decoration:underline; }
                #page { margin:0 auto; width:996px; text-align:justify; }
                #general li { list-style: none; }
                .score { display:inline-block; width:50px; text-align:center; }
                .score0, .score0 a{ color: #DD0000; }
                .score25, .score25 a{ color:#FF8000; }
                .score50, .score50 a{ color: darkseagreen; }
                .score75, .score75 a{ color: limegreen; }
                .score100, .score100 a{ color: forestgreen; }
                .score-details { font-size: 0.8em; display:inline-block; width:180px; }
                .diff { border:1px solid #CCC; background-color:#FFF; padding:5px; }
                .infos { font-size:0.9em; paddin-left:30px; color:#333;}    
                .testedby { text-align:right; font-size:0.9em; font-style: italic; }
                 #footer { text-align: center; margin:1em 0; }
            </style>
        </head>
        <body>

            <div id="page">
                <div id="head">
                    <h1>MutaTesting score: <span class="score">{{total.score}}%</span></h1>
                    <p>
                        <strong>{{ units.all |length }}</strong> tests, <strong>{{ total.mutants }}</strong> mutants,
                        <strong>{{ total.survivors }}</strong> survivors.
                    </p>
                </div>

                <div id="general">
                    <h2>Overview</h2>
                    <ul>
                    {% for file,info in files  %}
                            <li>
                                <span class="score score{{info.scoreStep}}"><a href="#{{file}}">{{info.score}}%</a></span><span class="score-details">( {{info.survivors}} survivors / {{info.mutants}} mutants )</span>    
                                <span class="score-filename"><a href="#{{file}}">{{ file }}</a></span>
                            </li>
                    {% endfor %}
                        </ul>
                    </div>




                    <div id="det-ail">
                        <h2>Details by file</h2>
                    {% for file,info in files  %}
                            <div id="{{file}}" class="box-mutant">
                                <h3>{{file}}</h3>
                                <div><span class="score score{{info.scoreStep}}">{{info.score}}%</span><span class="score-details">( {{info.survivors}} survivors / {{info.mutants}} mutants )</span>    </div>
                            </div>

                        {% for mutation in info.survivedMutations %}
                            <div class="testedby">(test: {{mutation.mutant.unit.file}})</div>
                            <div class="diff">
                            {{mutation.diff|raw }}
                                </div>
                        {% endfor %}
                    {% endfor %}

                            </div>
                        </div>


                    <div id="footer">
                        Powered by <a href="https://github.com/Halleck45/MutaTesting">MutaTesting</a> - Copyright {{"now"|date('Y')}} <a href="http://www.lepine.pro">Jean-Fran&ccedil;ois L&eacute;pine</a>
                    </div>

                    </body>
                </html>